<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <%- include('include/header.html') %>
        <title>
            <%=title%>
        </title>
</head>

<body>
    <div class="sz_topNav">
        <div class="clearfix sz_topNav_content">
            <a href="#" class="jyw_login">登录</a>
            <a href="#" class="jyw_register">注册</a>
            <a href="#" class="jyw_homePage">设为首页</a>
            <a href="#" class="jyw_addFavorites">加入收藏</a>
            <a href="#" class="jyw_backHome">返回首页</a>
        </div>
    </div>
    <!--END sz_topNav-->

    <div class="sz_header">
        <div class="clearfix jyw_logo_box">
            <div class="logo_min">
                <a href="#" title="深圳社区家园网" target=""></a>
            </div>
            <div class="jyw_special_title">
                <h2>汽车服务</h2>
            </div>
        </div>
        <div class="car_insurance_nav">
            <% //头部模板 %>
                <%- include('include/nav.html') %>
        </div>
    </div>
    <!--END sz_header-->

    <div class="car_mainBody">

        <div class="car_main">
            <div class="current_position"><span class="title">您的足迹：</span><a href="#">首页</a> > <a href="#">新闻资讯</a></div>
            <!--END current_position-->
            <div class="clearfix subPageMain car_newsMain">
                <div class="l_w730 car_article">
                    <div class="article_content">
                        <div class="article_hd">
                            <h2 class="article_title">
                                <%= newsEntry.news_title %>
                                    <% //将ISODate日期格式转换为本地日期格式%>
                                        <% var date = new Date(newsEntry.create_time.getTime()); 
                                                //月份并加1
                                                var month = ('0'+(date.getMonth()+1)).slice(-2);
                                                //日期
                                                var day = ('0'+date.getDate()).slice(-2);
                                                //时
                                                var hours = ('0'+date.getHours()).slice(-2);
                                                //分
                                                var muintes =('0'+date.getMinutes()).slice(-2);                              
                                            var reg =month+'-'+day+' '+hours+':'+muintes                                     
                                          %>
                            </h2>
                            <p class="article_info"><span>发布时间：</span><span class="mr20"><%= reg %></span></p>
                        </div>
                        <div class="article_bd">
                            <%- newsEntry.news_content %>
                        </div>

                    </div>
                </div>
                <div class="r_w240">
                    <div class="query_traffic_violations">
                        <a href="#" title="交通违章查询"><img src="img/query_traffic_violations.jpg" alt="交通违章查询" /></a>
                    </div>
                    <div class="safety_common_sense">
                        <!--<div class="car_hd_b">
                            <a class="more_a" href="#">More+</a>
                            <h2>安全常识</h2>
                        </div>
                        <div class="bd">
                            <ul class="car_list_a">
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                            </ul>
                        </div>-->
                        <% //安全常识 %>
                            <%- include('include/newsList03.html',{newsAssortment:newsList.aqcs,title:'安全常识',type:'aqcs'}) %>
                    </div>
                    <div class="use_the_vehicle_guide">
                        <!--<div class="car_hd_b">
                            <a class="more_a" href="#">More+</a>
                            <h2>用车指导</h2>
                        </div>
                        <div class="bd">
                            <ul class="car_list_a">
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                                <li><a href="#" title="">沪港通今日启动 将为上海带来数万亿美元新资金</a></li>
                            </ul>
                        </div>-->
                        <% //用车指导 %>
                            <%- include('include/newsList03.html',{newsAssortment:newsList.yczd,title:'用车指导',type:'yczd'}) %>
                    </div>
                    <div class="clearfix baoyi_code">
                        <div class="baoyi_code_title">扫描二维码</div>
                        <img src="img/baoyi_img.jpg" class="baoyi_code_img" />
                        <p class="baoyi_code_intro">保易为您提供全面的保险服务，包括投保建议，保险问答，知识百科等</p>
                    </div>
                </div>
            </div>
            <!--END subPageMain-->

        </div>
        <!--END content-->

        <% //尾部模板 %>
            <%- include('include/footer.html') %>
                <!--END footer-->

    </div>
    <!--END mainBody-->


</body>

</html>