<script type="text/javascript">
    //设为首页
    function setHome(obj, url) {
        try {
            obj.style.behavior = 'url(#default#homepage)';
            obj.setHomePage(url);
        } catch (e) {
            if (window.netscape) {
                try {
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                } catch (e) {
                    alert("抱歉，此操作被浏览器拒绝！\n\n请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为'true'");
                }
            } else {
                alert("抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将【" + url + "】设置为首页。");
            }
        }
    }
    //收藏本站
    function addFavorite(title, url) {
        try {
            window.external.addFavorite(url, title);
        } catch (e) {
            try {
                window.sidebar.addPanel(title, url, "");
            } catch (e) {
                alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
            }
        }
    }
</script>


<div class="clearfix sz_topNav_content">
    <% if(user && user.name){%>
        <span>欢迎您！<%=user.name %></span>
        <a href="/logout">注销</a>
        <a href="/usersCenter">会员中心</a>
        <% }else{ %>
            <a href="login" class="jyw_login">登录</a>
            <a href="register.html" class="jyw_register">注册</a>
            <% } %>

                <a href="javascript:void(0)" onclick="setHome(this,'http://localhost:3000');" class="jyw_homePage">设为首页</a>
                <a href="javascript:void(0)" onclick="addFavorite('我的网站',location.href)" class="jyw_addFavorites">加入收藏</a>
                <a href="/" class="jyw_backHome">返回首页</a>
</div>